<app-board-backlog currentPage="Board" [backlogRedirect]="backlogRedirect" [boardRedirect]="boardRedirect"></app-board-backlog>

<div class="board">
    <div class="todo colone">
        <div class="title">
            <h1>To Do</h1>
        </div>
        <div class="tasks" id="TODO-tasks" (dragover)="onDragOver($event)">
            <div *ngFor="let task of todoTasks" class="task" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)" (click)="gotoTasksDetails(task.name)">
                <h2 class="task-title">{{task.name}}</h2>
                <p class="task-description">{{reduceString(task.description, 30)}}</p>
            </div>
        </div>
    </div>
    <div class="inprogress colone">
        <div class="title">
            <h1>In Progress</h1>
        </div>
        <div class="tasks" id="IN_PROGRESS-tasks" (dragover)="onDragOver($event)">
            <div *ngFor="let task of inProgressTasks" class="task" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)" (click)="gotoTasksDetails(task.name)">
                <h2 class="task-title">{{task.name}}</h2>
                <p class="task-description">{{reduceString(task.description, 30)}}</p>
            </div>
        </div>
    </div>
    <div class="totest colone">
        <div class="title">
            <h1>To Test</h1>
        </div>
        <div class="tasks" id="TO_TEST-tasks" (dragover)="onDragOver($event)">
            <div *ngFor="let task of toTestTasks" class="task" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)" (click)="gotoTasksDetails(task.name)">
                <h2 class="task-title">{{task.name}}</h2>
                <p class="task-description">{{reduceString(task.description, 30)}}</p>
            </div>
        </div>
    </div>
    <div class="done colone">
        <div class="title">
            <h1>Done</h1>
        </div>
        <div class="tasks" id="DONE-tasks" (dragover)="onDragOver($event)">
            <div *ngFor="let task of doneTasks" class="task" draggable="true" (dragstart)="onDragStart($event)" (dragend)="onDragEnd($event)" (click)="gotoTasksDetails(task.name)">
                <h2 class="task-title">{{task.name}}</h2>
                <p class="task-description">{{reduceString(task.description, 30)}}</p>
            </div>
        </div>
    </div>
</div>